
@import url('https://fonts.googleapis.com/css?family=Economica|Josefin+Sans&display=swap');

body {
   transition: background 1s ease;
}

h1,h2,h3,h4,a {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.2em;
}

p {
	font-family: $fontText;
}


.pos-fix {
	position: fixed;
	top: 0;
	left: 0;
}


.slide {
  
  .inside {
    display: table;
    width: 100%;
    padding: 0 3em;
    
    p {
      display: table-cell;
      width: 100%;
      clear: both;
      vertical-align: middle; 
      text-align: center; 
    }
  }
}


/**************************
******** Loader ********
**************************/
#loader {
	position: fixed;
	/* change if the mask should have another color then white */
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	/* makes sure it stays on top */
}



/* INTRO */

.intro {
  width: 100%;
  height: auto;

}

.intro_head {
    background-color: $colorGrey1;
    padding: 10% 0;
}

.intro_head_title {
	color: $colorWhite;
	font-size: 40px;
	text-align: center;
	padding: 50px 0;
}

.intro_head_text {
	color: $colorWhite;
	font-size: 25px;
	text-align: center;
	padding: 10px 0;
}

.intro_img {
	width: 100%;
	text-align: center;
}

.intro_img img {
	width: 60%;
	margin-top: -8%;
	margin-left: 5%;
}

.intro_content_icons {
	width: 100%;
	height: auto;
}

.intro_content_icons ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* HOME HERO */

.home_hero {
	width: 100%;
	height: 100vh;
	position: relative;
	top: 0;
	background-color: transparent;
}


.home_hero_text {
	width: 100%;
	position: absolute;
	top: 35%;
	z-index: 20;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	font-size: 20px
}

.home_hero .hero_title {
	font-size: 100px;
	letter-spacing: 10px;
	padding: 15px 5px 15px;
	color: $colorBlack;
}

.home_hero .hero_description {
	font-size: 25px;
	letter-spacing: 10px;
	padding: 15px 5px 15px;
	color: $colorBlack;
}

.hero_down_btn {
	position: absolute;
	bottom: 50px;
	width: 10%;
	height: 10%;
}

.color-green,
.color-properties {
	color: #000;
}

.home_svg_content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
}

.home_svg_content svg {
	position: absolute;
	bottom: 35%;
	left: 35%;
}




/* MAIN HOME PAGE */

.main_container {
	position: relative;
	z-index: 90;
	padding-top: 4%;
	background-color: transparent;
}


/* PROJECTS SECTION */

.projects {
	width: 100%;
	margin-bottom: 5%;
	padding: 10px 100px 10px 100px;
}

.projects_head {
	text-align: center;
	width: 100%;
	padding:  15px 5px 15px;
}

.projects_head h2 {
	font-size: 40px;
}

.projects_grid {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.projects_img {
	width: 100%;
}


/* CREATION */




/* SERVICES */

.services {
	padding: 10px 100px 10px 100px
}

.services_head {
	text-align: center;
	width: 100%;
	margin-bottom: 100px;
}

.services_head {
	font-size:  40px;
}

