
.container {
	max-width: 600px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.list_items {
	padding: 2%;
}

.pos-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.disp-block {
	display: block;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}